<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person" size="large" slot="start"></ion-icon>
      <ion-label>{{username}}</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="signOutClick()">
        <ion-icon name="log-out" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="content-row">
    <ion-col class="content-row-col-1" size="12" size-md="9">
      <ion-card>
        <app-vis-main [userTagList]="userTagList" [pickedDate]="pickedDate" [selectedVariable]="selectedVariable" [selectRectForAddingTag]="selectRectForAddingTag" [updateChart]="updateChart" [brushedChartData]="brushedChartData" [isShowingBrushedChartData]="isShowingBrushedChartData" [(showPCBrushedRange)]="showPCBrushedRange"
          [(resetVisImageTransform)]="resetVisImageTransform" [obtainUserTags]="obtainUserTags"></app-vis-main>
      </ion-card>
    </ion-col>
    <ion-col class="content-row-col-2" size="12" size-md="3">
      <ion-card>
        <ion-card-content>
          <ion-select-option *ngFor="let variable of datasetInfo.variableList" [value]="variable">{{variable}}</ion-select-option>
          <app-vis-control [datasetInfo]="datasetInfo" [(pickedDate)]="pickedDate" [(selectedVariable)]="selectedVariable" [(selectRectForAddingTag)]="selectRectForAddingTag" [(isShowingBrushedChartData)]="isShowingBrushedChartData"
            [resetVisImageTransform]="resetVisImageTransform" [resetPCBrush]="resetPCBrush" [showPCBrushedRange]="showPCBrushedRange"></app-vis-control>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="content-row-col-3" size="12">
      <ion-card>
        <app-vis-stats [pickedDate]="pickedDate" [selectedVariable]="selectedVariable" [(brushedChartData)]="brushedChartData" [(resetPCBrush)]="resetPCBrush" [(updateChart)]="updateChart" [showPCBrushedRange]="showPCBrushedRange"></app-vis-stats>
      </ion-card>
    </ion-col>
  </ion-row>