.content-row {
    height: 100%;
}

.content-row-col-1 {
    max-height: 75%;
}

.content-row-col-2 {
    max-height: 75%;
}

.content-row-col-3 {
    min-height: 25%;
}

ion-card {
    height: 100%;
}